<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} | Feature Requests</title>
</head>
<body>
    <h1>Bio Data Form</h1>
    <form action="request/create" method="post">
        <label>Title</label>
        <input type="name" name="title"><br>
        <label>Description</label>
        <input type="email" name="description"><br>
        <label>Client</label>
        <input type="name" name="client"><br>
        <label>Client Priority</label>
        <input type="name" name="client_priority"><br>
        <label>Target Date</label>
        <input type="name" name="target_date"><br>
        <label>Product Area</label>
        <input type="name" name="product_area"><br>
        <input type="submit">
    </form>
</body>
</html>
